= form_tag relationships_path, class: 'add-pals', role: 'form', method: 'post', remote: true do
  .form-group
    = text_field_tag :users, nil, class: 'form-control ti'
  = submit_tag 'Add as Pals', class: 'btn btn-primary'
= render(partial: 'relationships/pal', collection: @pals)