= form_for @user, html: {role: 'form', remote: true} do |f| 
  = render 'fields', f: f
  .form-group.pull-right
    = f.submit 'Create user', class: 'btn btn-primary'
    \-or-
    = link_to 'Log in!', signin_path, class: 'btn btn-default btn-sm', remote: true