- provide(:title, @title)

.col-lg-offset-2
  %h1 Sign up
= form_for @user, html: {class: 'form-horizontal', role: 'form'} do |f| 
  = render 'fields', f: f
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit 'Create user', class: 'btn btn-primary'
      \-or-
      = link_to 'Log in!', signin_path, class: 'btn btn-default btn-sm'