%a.glyphicon.glyphicon-remove.close{title: 'Close'}
%h2 Create Event
= form_for @event, html: {role: 'form'}, remote: true do |f| 
  = render 'fields', f: f
  = f.submit 'Create event', class: 'btn btn-primary'
