%span.glyphicon.glyphicon-remove.close
= link_to '', @event, class: 'glyphicon glyphicon-refresh act-button refresh', title: 'Refresh', remote: true
.row
  .col-sm-4
    #comments
      = render 'comments/comment'
    #details
      = render 'events/details'
  .col-sm-8#palbum
    = render 'events/palbum'