= content_tag 'li', class: 'list-group-item sb', data: {marker: sidebar_counter}, remote: true do
  %h4.list-group-item-heading= sidebar.name
  %h5.list-group-item-text= sidebar.start.strftime("%B #{sidebar.start.day.ordinalize}, %Y %-I:%M%P")