.act-button {
  margin: auto 5px;
  float: right;
  font-size: 21px;
  font-weight: bold;
  top: -3px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  &.refresh {
    z-index: 99;
    font-size: 19px;
    top: 1px;
  }
  &.badge {
    position: relative;
    top: -3px;
    font-size: 17px;
    color: white;
    text-shadow: none;
    &.new {
      opacity: 0.5;
      filter: alpha(opacity=50);
      background-color: #ff8500;
    }
  }
  &:hover,
  &:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}

.remove-button {
  float: right;
  margin: 10px 10px 10px 0px;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.6;
  filter: alpha(opacity=60);
  &:hover,
  &:focus {
    color: #d2322d;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-decoration: none;
    cursor: pointer;
  }
  z-index: 99;
}
.edit-button {
  float: right;
  margin: 10px 10px 10px 0px;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.6;
  filter: alpha(opacity=60);
  &:hover,
  &:focus {
    color: #5bc0de;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-decoration: none;
    cursor: pointer;
  }
  z-index: 99;
}

.votes {
  position: absolute;
  left: 43%;
  margin: 15px;
  z-index: 99;
  .vote-up, .vote-down {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
}
.vote-up {
  &:hover,
  &:focus {
    color: #5bc0de;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-decoration: none;
    cursor: pointer;
  }
}
.vote-down {
  &:hover,
  &:focus {
    color: #d9534f;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    opacity: 0.9;
    filter: alpha(opacity=90);
    text-decoration: none;
    cursor: pointer;
  }
}

.input-timerange {
  position: relative;
  top: -13px;
  margin-bottom: 0px;
  #tpstart, #tpfinish {
    text-align: center;
  }
}