// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}

// Drop shadows
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
      -ms-box-shadow: $shadow;
       -o-box-shadow: $shadow;
          box-shadow: $shadow;
}

h1, h2, h3 {
  margin-top: 0px;
}


#sideBar {
  position: absolute;
  left: 90px;
  top: 5%;
  width: 300px;
  margin-top: 15px;
  .dateSearch {
    margin: 20px auto 10px auto;
    .datepicker {
      margin: auto;
    }
  }

  .panel {
    background-color: rgba(255,255,255,.8);
    &.panel-default {
      @include box-shadow( 2px 2px 4px rgba(0,0,0,.4) );
    }
  }

  .panel-collapse.in {
    background-color: transparent;
  }

  .panel-title a {
    font-weight: bold;
  }

  .panel-body {
    overflow: auto;
  }

  #collapseTwo, #collapseFour {
    .panel-body {
      padding: 0px;
      form {
        padding: 15px 15px 50px 15px;
        #user_range {
          width: 5em;
        }
      }
    }
    .list-group {
      margin-bottom: 0px;
      p.empty {
        margin: 15px;
      }
      .list-group-item {
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
        &:last-child {
          border: none;
        }
        &:hover {
          &:first-child {
            padding-top: 10px;
            border-top: none;
          }
          background: white;
          padding-top: 9px;
          border-top: 1px solid #ddd;
        }
        &.sb {
          cursor: pointer;
        }
      }
    }
  }

  #collapseThree {
    .list-group {
      margin-bottom: 0px;
      p.empty {
        margin: 15px;
      }
      .list-group-item {
        border-top: none;
        border-left: none;
        border-right: none;
        background-color: transparent;
        &:last-child {
          border: none;
        }
        &:hover {
          &:first-child {
            padding-top: 10px;
            border-top: none;
          }
          background: white;
          padding-top: 9px;
          border-top: 1px solid #ddd;
        }
        &.sb {
          cursor: pointer;
        }
      }
    }
    .panel-body {
      padding: 0px;
      form.add-pals {
        padding: 15px;
      }
    }
    ul li.pal {
      p {
        float: left;
        margin-top: 7px;
      }
      height: 54px;
    }
  }
}

#eventWindow {
  display: none;
  margin-top: 15px;
  position: absolute;
  top: 5%;
  left: 395px;
  width: -webkit-calc(100% - 500px);
  width: -moz-calc(100% - 500px);
  width: calc(100% - 500px);
  height: 85%;
  padding: 15px;
  background-color: rgba(255,255,255,.8);
  border: 1px #ddd solid;
  @include border-radius( 5px );
  @include box-shadow( 2px 2px 4px rgba(0,0,0,.4) );
  .row {
    height: 100%;
  }
  #comments{
    form {
      margin-bottom: 65px;
    }
  }
  textarea { 
    resize: vertical;
  }
  .scroll {
    max-height: 100%;
    overflow: auto;
    .row {
      max-width: 100%;
    }
  }
  #palbum {
    position: relative;
    top: -21px;
    #carousel-palbum {
      .carousel-inner .item {
        img {
          margin: 0px auto;
          max-height: -webkit-calc(100% - 200px);
          max-height: -moz-calc(100% - 200px);
          max-height: calc(100% - 200px);
        }
      }
    }
    .carousel-previews {
      position: relative;
      top: -33px;
      overflow: hidden;
      white-space: nowrap;
      form {
        display: inline-block;
        position: relative;
        top: 6px;
        .fileinput-exists {
          text-align: center;
        }
      }
      .preview {
        display: inline-block;
        cursor: pointer;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        &:hover {
          padding: 0px;
          border: 5px solid #357ebd;
        }
      }
    }
  }
  .close {
    z-index: 99;
  }
}

#createEventWindow {
  #invite_block{
    display: none;
  }
  display: none;
  margin-top: 15px;
  position: absolute;
  top: 5%;
  left: 395px;
  width: 362px;
  padding: 15px;
  background-color: rgba(255,255,255,.8);
  border: 1px #ddd solid;
  @include border-radius( 5px );
  @include box-shadow( 2px 2px 4px rgba(0,0,0,.4) );
  textarea { 
    resize: vertical;
  }
}

#debug {
  position: absolute;
  right: 0px;
  top: 40%;
  width: 400px;
  height: 200px;
} 

ul.token-input-list-facebook {
  min-height: 34px;
  li {
    height: 26px !important;
    padding: 4px;
  }
}

.time_ago {
  color: lightgrey;
}