<% if @activities.any? %>
  $('#collapseThree ul').html("<%= j render partial: 'activities/index' %>");
<% else %>
  $('#collapseThree ul').html("<ol class='list-group'><li class='list-group-item'>Nothing new...</li></ol>");
<% end %>

$('#collapseThree').collapse('show');
$('#notifications span.badge').html(0).removeClass('new');