.fileinput-preview.thumbnail.preview{style: 'max-width: 200px; max-height: 150px',data: {target: '#carousel-palbum', 'slide-to' => '0'}}
  = image_tag little.image_url, style: 'max-height: 140px;'

:coffee
  $('.carousel-previews').each ->
    alert $('.preview', $(this)).length