- flash.each do |key, value| 
  .row.errors    
    .col-md-10.col-md-offset-1
      %div{class: "alert #{flash_class(key)}"}
        = button_tag('&times;'.html_safe, class: 'close', data: {dismiss: 'alert'}, 'aria-hidden' => 'true')
        = value