-if object.errors.any? 
  .col-md-12.alert.alert-danger
    %b
      = "This form contains #{pluralize(object.errors.count, "error")}"
    %ul
      -object.errors.full_messages.each do |msg| 
        %li= msg