-if object.errors.any?
  .row     
    .col-md-10.col-md-offset-1.alert.alert-danger
      %b
        = "This form contains #{pluralize(object.errors.count, "error")}"
      %ul
      -object.errors.full_messages.each do |msg| 
        %li= msg