/[if lt IE 9]
  %script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
/[if lt IE 8]
  %script(src="http://explorercanvas.googlecode.com/svn/trunk/excanvas.js")
/[if lt IE 7]
  %script(src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js")